/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29.09.2021, 9:14:57
    Author     : ponomarenko.evgen
*/

.block{
    max-width: 1170px;
    margin: 0 auto;
}
.red {
    color: red;
}